/*Contains css for login and register*/
#login_form h1 {
  text-align: center;
}
#login_form {
  width: 37%;
  margin: 100px auto;
  padding-bottom: 30px;
  border: 1px solid #918274;
  border-radius: 5px;
  background: white;
}
#login_form input {
  width: 80%;
  height: 35px;
  margin: 5px 10%;
  font-size: 1.1em;
  padding: 4px;
  font-size: .9em;
}
#login_btn {
  height: 35px;
  width: 80%;
  margin: 5px 10%;
  color: white;
  background: #3B5998;
  border: none;
  border-radius: 5px;
}
#register_form h1 {
  text-align: center;
}
#register_form {
  width: 37%;
  margin: 100px auto;
  padding-bottom: 30px;
  border: 1px solid #918274;
  border-radius: 5px;
  background: white;
}
#register_form input {
  width: 80%;
  height: 35px;
  margin: 5px 10%;
  font-size: 1.1em;
  padding: 4px;
  font-size: .9em;
}
#reg_btn {
  height: 35px;
  width: 80%;
  margin: 5px 10%;
  color: white;
  background: #3B5998;
  border: none;
  border-radius: 5px;
}
.form_error span {
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1.1em;
  color: #D83D5A;
}
.form_error input {
  border: 1px solid #D83D5A;
}

/*Contains css for actual portfolio*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
header {
  display: block;
  height: 140px;
  border-bottom: 0px solid #000;
  margin-bottom: 30px;
  background: #30A688;
}

body {
  margin: 0;
  background: #222;
  background-color: #71F0CA;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

#namePortfolio {
  float: left;
  color: #ffffff;
  text-align: center;
}

.logo {
  float: left;
  padding: 0px 0;
  padding-left: 30px;
}

#container_Txt {
    padding: 0px;
    color: #ffffff;
}

nav {
  float: right;
}

nav a {
  padding-left: 30px;
}

nav a:hover, a.current {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
	width: 85%;
	margin: 0 auto;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav ul {
  margin: -10;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 80px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #ffffff;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.open-button{
  padding: 80px 125px;
  cursor: pointer;
  border-style: solid;
  background: url(3.png);
}

.open-button:hover{
  background-color: rgba(100,100,100,0.5);
}

.close-button {
  position: absolute;
  padding: 15px 15px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:#009688!important;
  border: none;
  }

.close-button:hover {
  background-color: #555;
}

.port-modal-content{
  margin:auto;background-color: #fff;
  position:relative;
  padding:0;
  outline:0;
  width:600px
}

.port-modal{
  z-index:3;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
}

.port-display-topright{
  position:absolute;
  right:0;top:0;
}

.port-teal{
  color:#fff!important;
  background-color:#009688!important;
}

/* The lines of code beneath this does not do anything unless we add rects */
 /* rect {
    width: 300px;
    height: 150px;
    background: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

rect ul {
    text-align: left;
    text-transform: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
  }

rect li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 23px;
  }
rect li a{
    margin-left: 80px;
    padding-top: 23px;
    text-align: left;
    color: #444;
}

rect p{
    text-align: left;
    padding: 50px;
    text-transform: none;
    font-size: 16px;
    color: #444;
}

rect p textarea{
    font-size: 16px;
    color: #444;
    text-align: center;
} */
